.menu {
    background-image: url(./Assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;

}

.header {
    background-image: url(./Assets/image4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;

}