@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&display=swap');
.menu {
    background-image: url(./Assets/pizza6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Dancing script;
    font-size: 30px;
    margin-bottom: 60px;
    
    
    
}

.order-overlay {
    height: inherit;
    padding: 20px;
    background-color: orange;
    border-radius: 20px;
}
#bmw{
    font-family: architects daughter;
}


#header {
    background-image: url(./Assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Dancing script;
    font-size: 30px;
    opacity: 0.8;

}
#order{
    margin-bottom: 80px;
}