.menu {
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    
    
}

.order-overlay {
    height: inherit;
    padding: 20px;
    background-color: orange;
    border-radius: 20px;
}


.header {
    background-image: url(./Assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}